@import "../../../variables.scss";
.boxprofilePicture {
    position: absolute;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: linear-gradient(235deg,#BE6AD3,#010615,#7C95F1);
    z-index: 2;
}

.profilePicture{
position: absolute;
width: 95%;
height: 95%;
background: #060c21;
box-sizing: border-box;
z-index: 3;
}


